<div *ngIf="isLoading" class="overlay">
  <!-- Centered spinner -->
  <mat-spinner class="spinner"></mat-spinner>
  <div  class="loading-text">Validating...</div>
</div>



<mat-card class="cardWithShadow theme-card">
<mat-card-content class="b-t-1">
<h2>File Validation</h2>

<div class="row">
    <div class="col-lg-6">
      <mat-label class="f-w-600 m-b-8 d-block">Module</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select [(value)]="selectedModule" [disabled]="true">
          @for(option of modules; track option.id) {
          <mat-option [value]="option.id">{{
            option.name
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-6">
      <mat-label class="f-w-600 m-b-8 d-block">Item</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select [(value)]="selectedItem">
          @for(option of moduleItems; track option.id) {
          <mat-option [value]="option.id">{{
            option.name
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
</div>
<!-- <select [(ngModel)]="selectedModule">
    <option *ngFor="let item of modules" [value]="item.id">
      {{ item.name }}
    </option>
  </select> -->
  
<label for="fileInputInfo" 
class="info flex-grow-1 d-flex flex-column justify-content-left align-items-left">
*Upload your file wants to validate:</label>
<form [formGroup]="fileForm" (ngSubmit)="onSubmit()">
    <!-- <label for="fileInput">Choose a file:</label> -->
     <div class="row">
      <div class="col-xs-4" style="margin-right: 100px;">
        <input type="file" id="fileInput" (change)="onFileSelected($event)" />
      </div>
      <button mat-flat-button color="primary" class="w-20" type="submit" [disabled]="!selectedFile || submitted">Validate</button>
     </div>
    <div #textArea [innerHTML]="convertedHtml" contenteditable="false" class="textarea-style textarea_container">
    </div>

</form>
</mat-card-content>
</mat-card>